rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sync/{code} {
      allow read, write: if code.size() >= 4 && code.size() <= 12;
    }
  }
}
